@tailwind base;
@tailwind components;
@tailwind utilities;

input.add-file {
  @apply mx-20 mb-5 border border-black rounded-md p-1;
}

label {
  @apply mx-20 pb-2;
}

button {
  @apply flex justify-center items-center cursor-pointer shadow-sm  hover:bg-gray-300 hover:text-black hover:shadow-md active:bg-gray-400 active:shadow-md active:transform active:scale-95 bg-gray-200 transition-all duration-150 p-1;
}
